!!!
%html
  %head
    %title EpmhbServer
    = stylesheet_link_tag    "application", :media => "all"
    = content_for :head_elements_at_bottom do
      = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      = yield

!= yield :head_elements_at_bottom
!= yield :bottom
